#page-teacher-list {
  width: 100vh;
  height: 100vh;
}

.page-header {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
}

.page-header .top-bar-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-in-primary);
}

.page-header .top-bar-container a {
  height: 3.2rem;
  transition: opacity 0.2s;
}

.page-header .top-bar-container a:hover {
  opacity: 0.6;
}

.page-header .top-bar-container > img {
  height: 1.6rem;
}

.page-header .header-content {
  width: 90%;
  margin: 0 auto;
  position: relative;
  margin: 3.2rem auto;
}

.page-header .header-content strong {
  font: 700 3.6rem Archivo;
  line-height: 4.2rem;
  color: var(--color-title-in-primary);
}

body {
  margin: 0 0 55px 0;
}

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #282a36;
  display: flex;
  overflow-x: auto;
}

.nav__header {
  font-size: 11pt;
  font: 700 2rem Poppins;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 13px;
  color: #f8f8f2;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
  background-color: #eeeeee;
}

.nav__icon {
  font-size: 18px;
}

.top_nav {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 2vh rgba(0, 0, 0, 0.2);
  background-color: #282a36;
  display: flex;
  overflow-x: auto;
}

.header_img {
  width: 14vh;
  height: auto;
}

.nav_top_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 18px;
  color: #f8f8f2;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

#master {
  margin-bottom: 10vh;
  position: absolute;
  width: 100%;
  top: 10%;
  margin-top: 0vh;
}

#post_feed,
#post_header {
  background-color: #44475a;
  align-self: flex-start;
  width: 56vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1vh;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#post_feed {
  padding: 1vh 3vh 2vh 3vh;
  align-items: center;
  margin-top: 2vh;
}

#post_header {
  margin-bottom: 2vh;
  padding: 1vh 3vh 1vh 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteudo {
  width: 50vh;
  height: 50vh;
  margin-top: 1vh;
  border-radius: 1vh;
  object-fit: cover;
}

.avatar {
  margin-right: 1.2vh;
  float: left;
}

#header {
  margin-bottom: 1.8vh;
}

.username_data_post {
  padding-top: 0.5vh;
}

.username {
  font-size: 1.8vh;
  font-weight: 500;
}

.descricao {
  font-size: 1.8vh;
}

.data_post {
  font-size: 1.6vh;
  color: #f8f8f2;
}

.reacao_btn {
  margin-top: 1vh;
  width: 25vh;
  height: 7vh;
  border: 0px;
  border-top: 1px solid #bd93f9;
  background-color: #44475a;
  color: #95a5a6;
  cursor: pointer;
  outline: none;
}

#font_dislike,
#font_like {
  font-size: 3vh;
}

@media only screen and (orientation: landscape) {
  .nav {
    display: none;
  }
  .conteudo {
    width: 90vh;
  }
  #post_feed,
  #post_header {
    width: 96vh;
  }
  .reacao_btn {
    width: 45vh;
  }
}

#txt_desc {
  width: 50vh;
}

input[type="file"] {
  display: none;
}

#upload {
  border: 0px;
  align-self: center;
  color: #95a5a6;
  cursor: pointer;
  outline: none;
}
